<div>
    Languages
    <div class="btn-group" role="group" aria-label="...">
        {% for link in links %}
            <button type="button" class="btn btn-default">{{ link }}</button>
        {% endfor %}
    </div>
</div>