<div class="homepage">
    <div class="row">
        <div class="col-sm-9">{{ node1.body.value|raw }}</div>
        <div class="col-sm-3">{{ node1.title.value }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">{{ node2.title.value }}</div>
        <div class="col-sm-9">{{ node2.body.value|raw }}</div>
    </div>
</div>